<script>
  //imports
  import { area } from "d3-shape";
  import { scaleLinear, scaleTime } from "d3-scale";
  import { extent,max } from "d3-array";

  //data
  export let data = [];
  let MaxData = max(data, (d) => Math.max(d.total_electrity, d.total_gas));
  console.log("my length",data.length);

  //scale
  const xScale = scaleTime()
  .domain(extent(data.map(d => new Date(2014,12,d.day,d.hour))))
  .range([0,data.length*0.75]);

  const yScale = scaleLinear()
  .domain([0,MaxData])
  .range([0,50]);

  const ElecData = area()
  .x(d => xScale(new Date(2014,12,d.day,d.hour)))
  .y0(0)
  .y1(d => - yScale(d.total_electrity));

  const GasData = area()
  .x(d => xScale(new Date(2014,12,d.day,d.hour)))
  .y0(0)
  .y1(d => yScale(d.total_gas));

</script>

<g height="110">
  <line x1="0" x2="{data.length*0.75}" y1="0" y2="0" stroke="black" stroke-width="1"/>
  <path d={ElecData(data)} fill="#1790FF"/>
  <path d={GasData(data)} fill="#FFBA28"/>
</g>