<script>
    // Imports
    import { area } from "d3-shape";
    import { scaleLinear, scaleTime } from "d3-scale";
    import { extent, max } from "d3-array";

    export let dataset = [];
    export let scaling = 1;
    export let type = null;
    

   //data selection
    function selectData(type, datafile) {
        return datafile.filter(d => d.buildingtype == type)
    }
    let data = selectData(type, dataset);
    $: data = selectData(type, dataset);

    // scales
    let dates = data.map(d => new Date(2014, 11, d.day, d.hour));

    //different building types
    const scaleX= scaleTime()
        .domain(extent(dataset.map(d => new Date(2014, 11, d.day, d.hour))))
        .range([70, 550]);

    const scaleBetween = scaleLinear()
        .domain(extent(data.map(d => d.total_heating_energy)))
        .range([0.1, 4]);


   //each building type
    const scaleEach = scaleLinear()
        .domain(extent(dataset.map(d => d.total_heating_energy)))
        .range([0.1, 4]);

    //lines
    const violinChartWithin = area()
            .x(d=>scaleX(new Date(2014, 11, d.day, d.hour)))
            .y0(d=>-scaleEach(d.total_heating_energy))
            .y1(d=>scaleEach(d.total_heating_energy))

    const violinChartBetween = area()
            .x(d=>scaleX(new Date(2014, 11, d.day, d.hour)))
            .y0(d=>-scaleBetween(d.total_heating_energy))
            .y1(d=>scaleBetween(d.total_heating_energy))

</script>


    <g transform="translate(-150,0)" dominant-baseline="central"
    style="font-size: 10px">
        <text>{type}</text>
    </g>
    <g transform="translate(-120,0)">
        {#if scaling == 1}
            <path d={violinChartWithin(data)} ></path>
        {:else}
            <path d={violinChartBetween(data)} ></path>
        {/if}
    </g>
