<script>
  //imports
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import Leaf from './_design_3_leafplot.svelte';

  // Size and margins
  const width = 500;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  //load data
  let data = null;
  const weeks = [52,51,50,49,48];
  onMount(async () => {
     data = await json("/data/hourly_electricity_vs_gas_december.json");
  });

  function weekly_data(weekly) {
    return data.filter(d => d.week == weekly);
  }
</script>



{#if !data}
<p>Loading data, please wait...</p>
 {:else}
<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    <line x1="{innerWidth/2}" y1="100" x2="{innerWidth/2}" y2="400" stroke-width=2 stroke="black"/>
    {#each weeks as w,i }
    {#if i%2 == 0}
    <g transform="translate({innerWidth/2 },{100+i*70}) rotate(-15)">
      <Leaf data={weekly_data(w)}/>
    </g>
    <text y="{100+i*70}" x="{innerWidth-80}">Week {i+1}</text>
      {:else} 
      <g transform="translate({innerWidth/2 },{100+i*70}) scale(-1,1) rotate(-15)">
        <Leaf data={weekly_data(w)}/>
      </g> 
      <text y="{100+i*70}" x="20">Week {i+1}</text>
    {/if}
    {/each}
    <text x={innerWidth/2 - 100} y={innerHeight - 40} font-family="Brush Script MT" font-size="25">Chicago December 2014</text>
  </g>
</svg>
{/if}

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>
