<script>
  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  //import
  import { max } from "d3-array";
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import Plot from "./_design_1_lineplot.svelte";

  //data
  let datapoints = [];
  let buildingTypes = [];
  let default_city = "Baltimore";
  let default_type = 0;
  let selectedCity = null;
  let cities = ["Baltimore", "Chicago", "Los Angeles"];

  onMount(async () => {
        let response = await json("/data/hourly_heating_december.json")
        .then(response => datapoints = response)
        .then(data =>
        buildingTypes = [...new Set(data.map(d =>  d.buildingtype))])
  });

  function selectCity(dataset, city) {
    if (!(dataset == null)) {
      return dataset.filter(d => d.city == city);
    }
  }
  $: selectedCity = selectCity(datapoints, default_city); 

  function selectDataType(dataset, type) {
    return dataset.filter(d => d.buildingtype == type)
  }
  $: selectedDataType = selectDataType(datapoints, selectDataType);
</script>

<div transform="translate(0,250)">
    <svg {width} {height}>
      <g transform="translate({margin.left}, {margin.top})">
        {#each buildingTypes as type, b}
              <g transform="translate(150,{10+(b*15)})">
               <Plot dataset={selectedCity} 
               scaling={default_type} 
               type={type}/>
              </g>
            {/each} 
       </g>
    </svg>

   <div class="city">
     {#each cities as a}
       <label> <input type=radio  bind:group={default_city} value={a}>{a}</label>
       {/each}
   </div>
   <div class="building">
     <label> <input type=radio bind:group={default_type} value={1}>Each BuildingType </label>
     <label><input type=radio bind:group={default_type} value={0}> All BuildingType</label>
   </div>

</div>

<style>
  svg {
    border: 1px solid rgb(33, 32, 32);
    border-radius: 5px;
  }
  .building label {
  font-size: 12px;
}
  .city label {
  font-size: 12px;
}
</style>

