<script>
  import { scaleLinear } from "d3-scale";
  import { extent } from "d3-array";
  import { lineRadial } from "d3-shape";
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  
    // Size and margins
  const width = 1000;
  const height = 400;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  //data
  let datapoints = []
  onMount(async () => {
    datapoints = await json('/data/daily_heating_cooling.json')
  });


  let tranData = {}
  $:{datapoints.forEach((t) =>{
      if (!(t.city in tranData)){
        tranData[t.city] = {"heating":[], "cooling":[]}
      }
      tranData[t.city]["heating"].push(t.heating)
      tranData[t.city]["cooling"].push(t.cooling)
    })
  }
  
  let cityWidth = 300;
  let cityHeight = 150;
  let radius = 110;
  

  $:year = scaleLinear().domain([0, 365]).range([0, 2*Math.PI]);
  $:scaleHeating = scaleLinear().domain(extent(datapoints.map((t)=>t.heating))).range([0, 100]);
  $:scaleCooling = scaleLinear().domain(extent(datapoints.map((t)=>t.cooling))).range([0, 100]);
  
  let radial = lineRadial()
  let heatingPath=(t) => {
  let heatingData = [];
    t.forEach((value, i)=>{heatingData.push([year(i), scaleHeating(value)])})
    let path = radial(heatingData)
    return path;
  }

  let coolingPath = (t) => {
    let coolingData = [];
    t.forEach((value, i)=>{coolingData.push([year(i), scaleCooling(value)])})
    let path = radial(coolingData)
    return path;
  }

  //time
  let months = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
  let monthly = scaleLinear().domain([0,12]).range([0,354]);
  var radians = 0.0176532926;

  
</script>

<div>
  <svg width={width} height={height}>
    <g transform="translate({margin.left}, {margin.top+20})">

      {#each Object.keys(tranData) as city, c}
        <g transform="translate({c*cityWidth-155}, {margin.top})">
          <text class="city" x={(cityWidth)+13} font-size="20px">{city}</text>
          <line x1={cityWidth+45} x2={cityWidth+45} y1={(cityHeight-radius)} y2={(cityHeight+radius)}/>
          <line x1={(cityWidth+45-radius)} x2={(cityWidth+45+radius)} y1={cityHeight} y2={cityHeight}/>
          <circle cx={cityWidth+45} cy={cityHeight} r={radius}/>

          {#each months as month}
          <text x={78*Math.sin(monthly(month)*radians)*1.5 + 345} y={-78*Math.cos(monthly(month)*radians)*1.5+152} font-size="8">{month}</text>
          {/each}

          {#each Object.keys(tranData[city]) as energy}

            <g transform="translate({cityWidth+45}, {cityHeight})">
              {#if energy=="heating"}
                  <path class="heat" d={heatingPath(tranData[city][energy])}/>
             {/if}
              {#if energy=="cooling"}
                  <path class="cool" d={coolingPath(tranData[city][energy])}/>
              {/if}
           </g> 
          {/each}
        </g>
      {/each}
      <text x={width/3} y={height-40} font-size="20px">Heating(red) and Cooling(blue)</text>
    </g>
  </svg>
</div>

<style>
  line{
    stroke: black;
    stroke-width: 1.5;
  }
  circle{
    fill: none;
    stroke: black;
    stroke-width: 1.5;
  }
  path.heat{
    fill: rgb(247, 4, 4);
    fill-opacity: 0.4;
    stroke: rgb(243, 3, 3);
    stroke-width: 1px;
  }
  path.cool{
    fill: rgb(13, 199, 236);
    fill-opacity: 0.4;
    stroke: rgb(20, 197, 246);
    stroke-width: 1px;
  }

</style>
