<script>
	let current = '';
</script>

<button
	class:active="{current === 'Messi'}"
	on:click="{() => current = 'Messi'}"
>Messi</button>

<button
	class:active="{current === 'Ronaldo'}"
	on:click="{() => current = 'Ronaldo'}"
>Ronaldo</button>

<button
	class:active="{current === 'Neymar'}"
	on:click="{() => current = 'Neymar'}"
>Neymar</button>

<style>
	button {
		display: block;
	}

	.active {
		background-color: pink;
		color: white;
	}
</style>