<script>
  let clicked = false;
</script>

<div>
  {#if clicked}
  <button class="btn btn-primary" on:click={() => (clicked = false)}>
    click here
  </button>
  <p>You have clicked the button! </p>

  {:else}
	<button class="btn btn-primary" on:click={() => (clicked = true)}>
		click here
	</button>
<p> You have to click the button!</p>
{/if}
</div>
