<style>
	span{
        color:darkorange
    }
    p {
		color: steelblue;
		font-family: '"Brush Script MT"', cursive;
		font-size: 2em;
	}
</style>

<p>I <span>really</span> like data visualisation!</p>
