<script>
  // Properties
 // export let data = [];
  const continents = [ "europe", "asia", "americas", "africa"];
  export let selectedYear = 1800;
  export let selectedContinent = "all";

  // Functions
  function clickStart() {
    paused =false;
    click =  setInterval(() => {
      const range = selectedYear + 1;
      if (range <= 2014) {
        selectedYear = range;
      } else {
        selectedYear = 1800;
      }
    }, 100);
  }

  let click = null;
  let paused = true;

  function clickStop() {
    paused = true;
    clearInterval(click);
  }

  function clickReset() {
    clickStop();
    selectedYear = 1800;
  }

</script>

<div class="row">
  <div class="col-4"> 
    {#if paused}
      <button class="btn btn-primary" on:click={clickStart}>Start</button>
    {:else}
    <button  class="btn btn-primary" on:click={clickStop}>Stop</button>
    {/if}
    <button class="btn btn-primary" on:click={clickReset}>Reset</button>
  </div>

<div class="col-5">
    <label class="label col-sm-10"> Year: {selectedYear}
      <input  type="range" class="range" bind:value={selectedYear}  min='1800' max='2014'/>
    </label>
  </div>

  <div class="col-3">
    <select class="select" bind:value={selectedContinent}>
      <option>all</option>
      <option>europe</option>
      <option>asia</option>
      <option>americas</option>
      <option>africa</option>
    </select>
  </div>
</div>


