<script>
	let count = 0;
	function handleClick1() {
		count += 1;
	}
    function handleClick2() {
        count=0;
    }
</script>

<div>
<button  class="btn btn-primary" on:click={handleClick1}>
	Clicked {count} {count === 1 ? 'time' : 'times'}
</button>
<button  class="btn btn-danger" on:click={handleClick2}>
        Reset
 </button>
</div>