<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";

  // Load the data
  let data = null;
  let selectedYear = 1800;
  let selectedContinent = "all";
  let scatterPlotData = null;
  let setContinent;


  onMount(async () => {
    data = await json("/data/gapminder.json");
  });

  function GetData (data, selectedContinent, selectedYear) { 
     const setYear = data.filter(d => d.year == selectedYear);
    if (selectedContinent == 'all') {
    setContinent  = setYear[0]['countries'];
  } else {
    setContinent = setYear[0]['countries'].filter(d => d.continent == selectedContinent);
  };
 return setContinent ;
}
</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div >
    <Scatterplot data={GetData(data, selectedContinent, selectedYear)} />
    <Controls bind:selectedYear= {selectedYear} bind:selectedContinent={selectedContinent} {data} />
  </div>
{/if}
