<script>
  import { csv } from "d3-fetch";
  import { onMount } from "svelte";
  import Scatter from "./_ex_4_scatter.svelte";

  // Load the data
  let data = null;
  onMount(async () => {
    data = await csv("/data/cars-2.csv");
  });

  // Configurations
  const s1 = {
    x: (d) => +d.Horsepower,
    y: (d) => +d.Acceleration,
    xLabel: "Horsepower",
    yLabel: "Acceleration"
  };
  const s2 = {
    x: (d) => +d.Displacement,
    y: (d) => +d.Miles_per_Gallon,
    xLabel: "Displacement",
    yLabel: "Miles per Gallon"
  };


 let localSelection1 = [];
 let localSelection2 = [];
 $: globalSelection = localSelection1.map(
    (elem, i) => elem && localSelection2[i]
  );

</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <Scatter {data}
  {globalSelection}
  {...s1}
  bind:localSelection = {localSelection1}
/>
<Scatter
  {data}
  {globalSelection}
  {...s2}
  bind:localSelection = {localSelection2}
/>
{/if}
