<script>
 // Dimensions
  const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 50 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  
  import { scaleLinear, scaleOrdinal, scaleLog,scaleSqrt} from 'd3-scale';
  import { schemePaired } from 'd3-scale-chromatic'
  import { axisLeft, axisBottom} from 'd3-axis';
  import { select } from 'd3-selection';
  
  export let data
//scale
const x_scale = scaleLinear().domain([0,6000]).range([margin.left,innerWidth]);
const y_scale = scaleLinear().domain([0,90]).range([innerHeight, 0]);
const scaleColour = scaleOrdinal(schemePaired).domain(["Asia", "Africa" , "Europe", "Oceania" , "Americas"]);
const scaleRadius = scaleLog().domain([1,6000]).range([1,3])


//axis
function x_axis(p){
    let x_axis=axisBottom(x_scale)
    select(p).call(x_axis)
  }
  function y_axis(p){
    let y_axis=axisLeft(y_scale)
    select(p).call(y_axis)
  }
  
</script>

<svg viewBox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform={"translate({margin.left},{margin.top})"}  >
    {#if data== null} 
    <text transform="translate(300,200)">Loading data</text>
    {:else}
    {#each data as p}
        {#if p.income != null && p.life_exp != null && p.population != null}
        <circle cx={x_scale(+p.income)} cy={y_scale(+p.life_exp)} r={scaleRadius(+p.population)} 
        style="fill: {scaleColour(p.continent)}"/>
        {/if}  
        
    {/each}
    {/if}

    <g transform="translate({margin.left-50},{margin.top+innerHeight})" use:x_axis />
    <g transform="translate({margin.left},{margin.top})" use:y_axis />

 
      <text transform="translate({margin.left-30},{innerHeight/2+50}) rotate(270)">Life expectancy</text>
      <text x={innerWidth/2} y= 380 >GDP per Capita (log)</text>
      <text id="title" fill="black" x=300 y=50>Gapminder Scattterplot</text>
      <text id="year" x=500 y=300>1800</text>
  

</svg>

<style>
  text {
    text-anchor: middle;
    font-size: 10px;
  }
 #title {
    text-anchor: middle;
    font-size: 30px;
    font-weight: bolder;
  }
  #year {
    text-anchor: right;
    font-size: 50px;
    opacity: 0.5;
    fill:gainsboro;
  }
</style>


