<script>
  import { select } from 'd3-selection';
  import { scaleLog} from 'd3-scale';
  import {axisBottom, axisLeft} from 'd3-axis';

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 25, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [2, 4, 6, 7, 9];

  //scale
  const scale = scaleLog().domain([1,10]).range([1,innerWidth]);

  //Axes
  const xaxis =scaleLog().domain([1,10]).range([1,innerWidth]);
   function myaxis(x)
    { let axis = axisBottom(xaxis);
      (select(x).call(axis));
    }

</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as x}
    <circle cx= {scale(x)}
            cy= 45
            r= 10/>
    {/each}
    
  </g>
  <text font-size =10 transform="translate(400,{margin.top+85})">x-label</text>
  <g transform="translate(5,{margin.top+70})" use:myaxis></g>
</svg>

<style>
  circle{
    fill: rgba(204, 16, 126, 0.856);
    fill-opacity: 0.5;
  }
</style>
