<script>
   import { scaleLinear, scaleOrdinal} from 'd3-scale';
   import { schemeDark2 } from 'd3-scale-chromatic';
   import { extent} from 'd3-array';
        
 // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
 
  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];
  const color= extent(values);
  //scale
  const x_scale= scaleLinear().domain([0,10]).range([0,innerWidth]);
  const y_scale= scaleLinear().domain([0,3]).range([innerHeight,0]);
  const scalecolor= scaleOrdinal().domain(color).range(schemeDark2);
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as p}
    <line x1={x_scale(p.x)} y1={y_scale(p.y)}  x2={x_scale(p.x)} y2={innerHeight} stroke="black"></line> 
    <circle cx= {x_scale(p.x)} cy={y_scale(p.y)} r= 5 style={"fill:" +scalecolor(p.category)}/>
    <text x={x_scale(p.x)} y={y_scale(p.y)-10}>{p.y}</text>
    {/each}
    <line x1=0 y1={innerHeight} x2={innerWidth} y2={innerHeight} stroke="black"></line> 
  </g>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
</style>
