<script>
   import { axisBottom, axisLeft } from 'd3-axis';
   import { scaleLinear,scaleBand } from 'd3-scale';
   import { select } from 'd3-selection';
  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];
	
  //scale
  const x_scale=scaleBand().domain(['Netflix','Amazon Prime Video','Disney+','Hulu','Apple TV','Rakuten']).range([0,innerWidth]);
  const y_scale=scaleLinear().domain([0,3]).range([innerHeight,0]);

  //function
  function x_axis(p){
    let x_axis=axisBottom(x_scale)
    select(p).call(x_axis)
  }
  function y_axis(p){
    let y_axis=axisLeft(y_scale)
    select(p).call(y_axis)
  }
  
</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform={`translate(${margin.left},${margin.top})`}>
  {#each data as p}
   <rect x={x_scale(p.service)} y={y_scale(p.viewers)} width= 70 
   height={innerHeight-y_scale(p.viewers)}/>
  {/each} 
  </g>
  <!--x and y axis-->
  <g transform="translate({margin.left},{margin.top+innerHeight})" use:x_axis></g>
  <g transform="translate({margin.left},{margin.top})" use:y_axis></g>
  <text font-size =10 transform="translate({margin.left-30},{innerHeight/2}) rotate(270)">Viewers(Million)</text>
</svg>

<style>
  rect{
    fill:cornflowerblue
  }
</style>